* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://thumbs.dreamstime.com/b/definir-o-tesouro-antigo-do-gamepad-de-palavras-cruzadas-e-xadrez-em-um-padr%C3%A3o-sem-falhas-vetor-206763461.jpg");
}

main {
    display: flex;
}

.container {
    display: flex;
}

.perguntas {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 600px;
    max-height: 700px;
    backdrop-filter: blur(4px);
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 5%;
    box-sizing: border-box;
    padding-left: 10px;
    text-align: center;
    overflow-y: scroll;
    padding-top: 20px;
    padding-bottom: 20px;
}

.perguntas .texto {
    color: white;
    text-shadow: 2px 2px 0 black;
    font-family: "Slackey", sans-serif;
    font-size: 20px;
    padding: 10px;
}

.perguntas span {
    margin-right: 10px;
}

.pergunta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 100%;
}

.perguntas .ipt {
    align-self: center;
    justify-self: center;
    margin-top: 10px;

}

.perguntas .ipt {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 60%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.linha-resposta {
    display: flex;
    gap: 8px;
    justify-content: center;

}

input::placeholder {
    color: white;
}

.linha-resposta .btnValidar {
    background: rgb(0, 174, 255);
    color: #fff;
    font-family: "Slackey", sans-serif;
    padding: 6px 6px;
    border: 2px solid rgb(0, 174, 255);
    border-radius: 10px;
    box-shadow: 0 4px 0 white;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 10px;
}

.linha-resposta .btnValidar:hover {
    background: white;
    transform: translateY(-3px);
    color: black;
    transform: color 0.2 ease;
}

.jogo {
    background: rgba(61, 61, 61, 0.5);
    display: flex;
    padding: 2rem;
    width: 50%;
    height: 700px;
    border-radius: 0.5rem;
    padding-top: 10px;
    justify-self: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-top: 5%;
}

.numero {
    font-size: 24px;
    color: white;
    height: 30px;
    width: 30px;
    text-align: center;
    transition: 0.8s;
    
}

.resposta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 34px;
    border: 2px solid rgb(0, 94, 138);
    border-radius: 3px;
    box-shadow: 2px 2px 3px;
    font-size: 0;

}
.vazio{
    height: 34px;
    width: 34px;
}

.nulo1 {
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.linha-resposta {
    display: flex;
    gap: 8px;
    justify-content: center;

}

.letra {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: transparent;
}